/*---------------------------------------------*/
.bg {
  background: #7918f2;
  background: -webkit-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: -o-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: -moz-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
}


.bg-g1 {
  /* The image used */
  background: url("../../../assets/img/backgrounds/gettyimages-475144426-2048x2048.jpg")no-repeat center center;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
