/*---------------------------------------------*/
.bg {
  background: #7918f2;
  background: -webkit-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: -o-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: -moz-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
  background: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
}


.bg-g1 {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
